body,
html,
html body {
  height: auto;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
}

.centerFlexCol {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
